.App {
  background-color: #1D2025;
  height: auto;
  width: 100vw;
  color: white;
}

.CenteredContainer {
  text-align: center;
}

.Header {
  color: white;
  font-size: calc(10px + 4vmin);
}

.NavLink {
  color: white;
}

